.slider-box {
    text-align: center;
}

.canvas-container {
    display: flex;
    width: 512px;
    height: 512px;
    border: 1px solid blue;
    flex-wrap: wrap;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}