@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

body {
  background-color: #fafcfe;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
}

.title {
  text-align: center;
  margin-top: 100px;
  color: #1962c8;
  font-family: 'Fredoka';
  letter-spacing: 2px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap-reverse;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 512px;
}

.canvas-container {
  background-color: #fff;
  display: flex;
  width: 512px;
  height: 512px;
  border: 3px solid #1964cc;
  flex-wrap: wrap;
  border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  font-size: 24px;
}

button {
  font-size: 24px;
  font-family: 'Fredoka';
  cursor: pointer;
  border-radius: 5px;
  border: none;
  transition: transform 0.3s ease;
  background-color: #bbd4f7;
  padding: 5px;
}

button:hover {
  background-color: #c9d0d9;
}

.mode-button:hover {
  transform: scale(1.05);
}

.active {
  background: #c9d0d9;
}