body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
  font-family: 'Verdana';
  font-size: 20px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 512px;
}

.canvas-container {
    display: flex;
    width: 512px;
    height: 512px;
    border: 1px solid blue;
    flex-wrap: wrap;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  font-size: 24px;
}

button {
  font-size: 24px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #000;
}

.mode-button:active {
  background-color: black;
}